@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/*Roboto Fonts */
body {
  font-family: "Roboto", "sans-serif";
}

/* container Class */
.App {
  width: 1024px;
  height: 1000px;
  margin: 20px auto;
}
.app-container {
  padding: 10px 20px;
}
.container {
  background-color: lightgrey;
  border-radius: 15px;
  padding: 10px;
  display: grid;
  grid: 25% 25% 25% 25% / 100%;
}
.text-center {
  text-align: center;
}
.title {
  font-size: 1.4rem;
  color: brown;
  margin-bottom: 30px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.main-title {
  margin-bottom: 30px;
  font-size: 1.1rem;
  color: chocolate;
  grid-column: 1/2;
  grid-row: 2/3;
}
.main-title p {
  grid-column: 1/2;
  grid-row: 3/4;
}
.input-container {
  padding-top: 2rem;
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  justify-content: space-around;
}
.btn-container {
  display: flex;
  background-color: lightgray;
  padding: 15px;
  flex-direction: row;
  justify-content: center;
}
.btn-container .btn {
  margin: 0 5px;
}
